# dependencies
node_modules
pachage-lock.json


# production
/front-end/build

# misc
.DS_Store
.env
.VSCodeCounter

npm-debug.log*
yarn-debug.log*
yar-error.log*

# Local Netlify folder
.netlify
.cache